.preloader {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: #000;
    transition: opacity .3s linear;
}
.preloader.transparent {
    opacity: 0;
}
.preloader.none {
    display: none;
    z-index: -9999;
}
.preloader__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*****************************/

.thnk-block {
  display: none;
  position: absolute;
  top: calc(50% - 55px);
  width: 80%;
  color: #fff;
  background-color: #78c249;
  padding: 25px 0 25px;
  text-align: center;
  opacity: 1;
  transition: opacity .3s linear, transform .3s linear;
  margin: 0 10%;
  transform: translateY(200px);
}
.thnk-block.movie {
  transform: translateY(0px);
}
.thnk-block.vkl {
  display: block;
}
.thnk-block.transparent {
  opacity: 0;  
}

/*****************************/

.gallery-imgs-row {
  display: flex;
  flex-wrap: wrap;
}
.gallery-imgs-row a {
  flex-basis: 33.33333%;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 5px;
}
@media (max-width: 500px) {
  .gallery-imgs-row {
    padding: 5px 5px 0px 5px;
  }
  .bottom-text {
    padding: 30px 15px;
  }
}
@media (min-width: 500px) {
  .gallery-imgs-row {
    padding: 40px 65px 0px 65px;
  }
  .bottom-text {
    padding: 40px;
  }
}

.ajax_form {
  position: relative;
}